<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd">
    <context:annotation-config/>
    <import resource="config2.xml"/>
<!--    Need setter of variable in game and has same Bean name as variable name-->
<!--    <bean id="game" class="org.example.model.game.Game" autowire="byName"></bean>-->
<!--    Need setter of variable in game and has only one Bean of same Type-->
<!--    <bean id="game" class="org.example.model.game.Game" autowire="byType"></bean>-->
<!--    Need constructor argument have only one Bean of same Type-->
<!--    <bean id="game" class="org.example.model.game.Game" autowire="constructor"></bean>-->
<!--    Annotation base-->
    <bean id="game" class="org.example.model.game.Game"></bean>
</beans>